.page {
    background-color: #141414;
}

.head {
    background-color: #141414 !important;
}

.main {

    color: aliceblue;
    height: 100vh;

}

.title1 h1 {
    font-size: 38px;
    padding-top: 40px;
    margin-bottom: 30px;
}

.posters img {
    width: 200px;
    border-radius: 10px;
}

.conint {
    display: flex;
}

.details {
    padding: 14px;


}

.details {
    display: block;
}

.video {
    border: solid;
    border-radius: 10px;
    float: right;
    margin-left: 50px;
    width: 700px;
    height: 400px;
}
.sec2{
    color: #Ffff;
}

